<%- include("partials/header") %>


<h1>welcome to login page</h1>

<form action="/login" method="POST">
<input type="text" name="username" placeholder="username">
<input type="password" name="password" placeholder="password">
<button>SUBMIT</button>

<li><a href="/logout">LogOut</a></li>


</form>

<%- include("partials/footer") %>